name: analyze

on:
  push:
    branches:
      - main
    paths:
      - '**.ps1'
      - '**.psd1'
      - '**.psm1'
      - '.github/workflows/analyze.yml'
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    paths:
      - '**.ps1'
      - '**.psd1'
      - '**.psm1'
      - '.github/workflows/analyze.yml'
    branches:
      - main
  workflow_dispatch:

jobs:
  analyze:
    name: PowerShell analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: Install PSScriptAnalyzer
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module PSScriptAnalyzer -ErrorAction Stop

      - name: Run PSScriptAnalyzer
        shell: pwsh
        run: |
          Invoke-ScriptAnalyzer -Settings PSScriptAnalyzerSettings.psd1 -Path . -Recurse -OutVariable issues

          $errors = $issues.Where({$_.Severity -eq 'Error'})
          $warnings = $issues.Where({$_.Severity -eq 'Warning'})

          if ($errors) {
            Write-Error "There were $($errors.Count) errors and $($warnings.Count) warnings total." -ErrorAction Stop
          }
          else {
            Write-Output "There were $($errors.Count) errors and $($warnings.Count) warnings total."
          }
