name: test

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-latest
    name: Test setting up SSIS tools
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup SSIS tools
        uses: jonlabelle/setup-ssis-devops-tools@main
      - name: Show SSISBuild.exe help
        run: SSISBuild.exe -h
        shell: pwsh
      - name: Show SSISDeploy.exe help
        run: SSISDeploy.exe -h
        shell: pwsh
